
input[type='text']:focus {
    box-shadow: initial;
}

.tag-title-row {
    margin: 20px 0 5px;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}
.tag-title-row span {
    margin: 6px 0 0 8px;
    vertical-align: top;
    display: inline-block;
    font-size: 12px;
    color: #aaa;
}
.tag-title {
    margin: 0;
    display: inline-block;
} 

.table-tag-title-row {
    margin: 16px 0 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.table-tag-title-row span {
    margin: 10px 5px 0 0;
    vertical-align: top;
    display: inline-block;
    font-size: var(--font-ui-smaller);
    color: var(--color-base-70);
}
.table-tag-title-row .tag-title {
    margin: 0;
    display: inline-block;
} 

.file-link {
    cursor: pointer;
}

.display-type-compact .file-link {
    background-color: var(--color-base-40);
    /*
    border: 1px solid var(--color-base-30);
    */
    border-radius: 10px;
    font-size: var(--font-ui-smaller);
    padding: 4px 8px;
    color: var(--color-base-100);
    margin: 4px 4px 0 0;
}

.display-type-compact .file-link:hover {
    background-color: var(--color-base-100);
    color: var(--color-base-40);
}

.display-type-list .file-link {
    color: var(--link-color);
}
.display-type-list .file-link:hover {
    color: var(--link-color-hover);
}

.tags-filter {
    color: #222;
    margin-bottom: 40px;
}

/* Header settings component */
.header-with-settings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-base-40);
    margin-top: 10px;
    margin-bottom: 2px;
}
.header-with-settings .title {
    margin: 3px 0;
    color: var(--color-base-70);
    font-size: var(--font-ui-small);
}
.settings-switch span {
    font-size: var(--font-ui-smaller);
    border: 1px solid var(--color-base-40);
    padding: 3px 6px 4px;
}
.settings-switch span.active {
    background-color: var(--color-base-40);
}
.settings-switch span.inactive {
    color: var(--text-faint);
    cursor: pointer;
}
.settings-switch span.inactive:hover {
    background-color: var(--color-base-20);
}
.settings-switch span:first-child {
    border-top-left-radius: 5px;
}
.settings-switch span:last-child {
    border-top-right-radius: 5px;
}

/* Tags table */
.table-info-container {
    display: flex;
    justify-content: space-between;
    padding: 4px;
}
.count-label {
    font-size: var(--font-smallest);
    padding: 4px;
}

.tags-overview-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: initial;
}
.tags-overview-table th {
    text-align: left;
}
.tags-overview-table tbody td {
    border-top: 1px solid var(--color-base-40);
    font-size: var(--font-smallest);
    padding: 4px;
    margin: 0;
}
.last-modified {
    text-align: right;
    color: var(--color-base-70);
}